/*
Reset
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
Common
*/

body{
    font-family: 'Roboto', sans-serif;
}


ul{
    list-style: none;
}

.container-big{
    width: 70%;
    margin: 0 auto;
}

.container-small{
    width: 60%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.pic{
    width: 100%;
}

/*
Header
*/

header{
    background-color: #ffffff;
    display: flex;
    padding: 25px 10px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

header .header-col-1 ul,
header .header-col-2 ul{
    display: flex;

}


header a{
    padding: 0 5px;
    color: #474747;
    text-decoration: none;
}

.btn{
    background-color: #0061ff;
    padding: 5px;
    color: white;
}

/*
Main
*/

.jumbo{
    background-color: #b4d0e7;
    padding-top: 80px;
}

.col-1{
    width: 30%;
}

.col-2{
    width: 70%;
}

.jumbo .container-big h1{
    padding-bottom: 40px;
    font-size: 50px;
    font-weight: 700;
}

.jumbo .container-big .row .btn{
    margin: 35px 0;
}

.big-col{
    width: calc(100% / 3);
    border: 2px solid black;
}

.col-horiz{
    width: 100%;
    border: 2px solid black;
}


.partner-pic{
    width: 55%;
}

.partner-txt{
    width: 45%;
}

.partner-pic img{
    display: block;
    width: 100%;
}
/*
Footer
*/

footer{
    background-color: black;
}

footer .container-big .col-footer{
    width: calc(100% / 5);
    color: white;
}

.col-footer a{
    color: white;
    text-decoration: none;
    display: block;
}

