/*
Reset
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
Common
*/

body{
    font-family: 'Open Sans', sans-serif;
}


ul{
    list-style: none;
}

.container-big{
    width: 70%;
    /*1200px*/
    margin: 0 auto;
}

.container-small{
    width: 60%;
    /*100px*/
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.pic{
    width: 100%;
}

.btn{
    background-color: #0061ff;
    padding: 5px 15px;
    color: white;
    display: inline;
    text-align: center;
}

.btn-alt{
    background-color: white;
    padding: 5px 15px;
    color: black;
    display: inline;
    border: 1px solid black;
    text-align: center;
}

strong{
    display: block;
}

#yearly{
    margin-left: 20px;
}

/*
Header
*/

header{
    background-color: #ffffff;
    display: flex;
    padding: 25px 10px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

}

header .header-col-1 ul,
header .header-col-2 ul{
    display: flex;
    align-items: center;

}


header a{
    padding: 0 10px;
    color: #474747;
    text-decoration: none;
}

/*
*****************************
Main
*****************************
*/

/*
jumbotron
*/

.jumbo{
    background-color: #b4d0e7;
    padding-top: 50px;
}

.col-1{
    width: 30%;
}

.col-2{
    width: 70%;
}

.jumbo .container-big h1{
    padding-bottom: 40px;
    font-size: 77px;
    font-weight: 800;
    padding-top: 40px;
}

.jumbo .container-big{
    position: relative;
    top: 70px;
}
.jumbo .col-1 p{
    padding-bottom: 20px;
    font-size: 14px;
}

.jumbo .col-1 a{
    text-decoration: none;
    color: white;
}

.jumbo .col-1 i{
    font-size: 45px;
}

#annulla{
    margin-top: 30px;
    margin-bottom: 70px;
}

/*
business plan
*/

.or{
    padding-top: 30px;
}

.or a{
    color: #0061ff;
}

.big-col{
    width: calc(100% / 3 - 40px);
    border: 1px solid #d0d0d3;
}

.name-plan{
    font-weight: 700;
    font-size: 20px;
}

#box-orizzontale{
    padding-top: 40px;
}

.big-col hr{
    width: 20%;
}

#business-plan .big-col hr{
    margin-left: 20px;
}

.col-horiz-1{
    width: 60%;
}

.col-horiz-2{
    width: 30%;
}

.col-horiz{
    width: 100%;
    border: 1px solid #d0d0d3;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: flex-start;
}

.col-horiz p{
    padding-top: 40px;
}

#business-plan{
    padding: 90px 0;
}


#business-plan  .col-head{
    border: 1px solid #d0d0d3;
    text-align: center;
    padding: 10px 0;
}

#business-plan .big-col .col-body-1,
#business-plan .big-col .col-body-2,
#business-plan .big-col .col-body-3{
    padding: 30px 20px;

}

#business-plan .col-body-1 div{
    font-weight: 200;
    color: gray;
}

#business-plan .col-body-1 strong{
    padding: 8px 0;
}

#business-plan .col-body-2 > *{
    display: flex;
    align-items: baseline;
    
}

#business-plan .col-body-2 i{
    padding-right: 5px;
}

.col-body-2{
    min-height: 300px;
}

.col-body-2 *,
.col-body-3 *{
    margin: 10px 0;
}

.col-body-3 i{
    color: #0061ff;
}

#business-plan .big-col .btn a{
    color: white;
    text-decoration: none;
}


#business-plan .col-body-3 .btn{
    padding: 5px 20px;
}

#business-plan .row{
    margin: -20px;
    padding-top: 30px;
}

#business-plan .row .big-col{
    margin: 20px;
}

#business-plan h2{
    padding-bottom: 40px;
    font-weight: 800;
    font-size: 30px;
}

#business-plan-btn{
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
}

#business-plan h5{
    font-weight: 100;
}

#business-plan .col-horiz a{
    text-decoration: none;
    color: white;
}

#business-plan .col-horiz p{
    font-size: 14px;
}


/*
contact partner
*/

#contact-partner{
    padding-bottom: 40px;
}

.partner-pic{
    width: 55%;
}

.partner-txt{
    width: 45%;
    padding-left: 30px;
    padding-top: 50px;
}

.partner-txt p{
    padding: 10px 0;
    margin-bottom: 20px;
}

.partner-txt a{
    text-decoration: none;
    color: black;
}

.partner-pic img{
    display: block;
    width: 100%;
}

/*
business operation
*/

#business-operation h2{
    font-size: 30px;
}

/*
stats
*/

.stats{
    padding: 150px 0;
}

.stats a{
    color: #0000ee;
}

.stats h2{
    padding-bottom: 80px;
    font-size: 35px;
}

/*
logos section
*/

#box-1{
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

#box-2{
    background-color: #61082b;
}

#box-3{
    background-color: #0093ce;
}

#box-4{
    background-color: #ff1c1c;
}

#box-5{
    background-color: #d5001f;
}

#box-6{
    background-color: #b4d0e7;
}

#box-7{
    background-color: #0d2481;
}

#box-8{
    background-color: #ffd830;
}

.bc{
    background-color: #f5f5f5;
}

.p-50{
    padding: 50px;
}

.of{
    overflow: auto;
}

#central-box img{
    width: 50%;
    align-items: flex-start;
}

#logos .box{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

#logos .loghi{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loghi img{
    width: 50%;
    filter: invert(1);
}

/*
business-section
*/

.business-section{
    background-color: #b4d0e7;
    padding: 100px 0;
}

.business-col-1{
    width: 60%;
    color: #61082b;
    font-size: 35px;
    font-weight: 600;
}

.business-section .row{
    justify-content: space-between;
    align-items: baseline;
}

.business-section .btn-alt{
    border: none;
    padding: 5px 30px;
}

#business-operation .row{
    margin: -20px;
}

#business-operation .row .big-col{
    margin: 20px;
    border: 0;
}

#business-operation h2{
    padding: 40px 0;
}

#business-operation h3,
#business-operation p{
    padding-top: 20px;
}

/*
FAQ
*/

#faq{
    padding: 100px 0;
}

#faq h2{
    padding-bottom: 40px;
    font-size: 30px;
}

#faq h4{
    padding: 25px 10px 25px 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

/*
Footer
*/

footer{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 30px;
}

footer .container-big .col-footer{
    width: calc(100% / 5);
    color: white;
}

.col-footer a{
    color: white;
    text-decoration: none;
    display: block;
    font-size: 12px;
    line-height: 2;
}

.col-footer h6{
    color: lightgray;
}

.col-footer hr{
    margin-top: 60px;
    margin-bottom: 30px;
    width: 15%;
}

footer .title{
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: 600;
}