/*
Reset
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
Common
*/

body{
    font-family: 'Roboto', sans-serif;
}


ul{
    list-style: none;
}

.container-big{
    width: 70%;
    margin: 0 auto;
}

.container-small{
    width: 60%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.pic{
    width: 100%;
}

.btn{
    background-color: #0061ff;
    padding: 5px 15px;
    color: white;
    display: inline;
    text-align: center;
}

.btn-alt{
    background-color: white;
    padding: 5px 15px;
    color: black;
    display: inline;
    border: 1px solid black;
    text-align: center;
}
/*
Header
*/

header{
    background-color: #ffffff;
    display: flex;
    padding: 25px 10px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

}

header .header-col-1 ul,
header .header-col-2 ul{
    display: flex;
    align-items: center;

}


header a{
    padding: 0 5px;
    color: #474747;
    text-decoration: none;
}

/*
Main
*/

.jumbo{
    background-color: #b4d0e7;
    padding-top: 50px;
}

.col-1{
    width: 30%;
}

.col-2{
    width: 70%;
}

.jumbo .container-big h1{
    padding-bottom: 40px;
    font-size: 50px;
    font-weight: 800;
    padding-top: 70px;
}

.jumbo .container-big{
    position: relative;
    top: 70px;
}
.jumbo .col-1 p{
    padding-bottom: 20px;
}

.jumbo .col-1 a{
    text-decoration: none;
    color: white;
}


.big-col{
    width: calc(100% / 3 - 40px);
    border: 1px solid #d0d0d3;
}

#business-plan{
    padding: 90px 0;
}

#business-plan .row .big-col .col-head{
    border: 1px solid #d0d0d3;
    text-align: center;
    padding: 10px 0;
}

#business-plan .big-col .col-body-1{
    padding: 30px 20px;

}

#business-plan .big-col .col-body-2,
#business-plan .big-col .col-body-3{
    padding-left: 20px;
    padding-bottom: 30px;
}

.col-body-2 *,
.col-body-3 *{
    padding: 10px 0;
}

#business-plan .big-col .btn a{
    color: white;
    text-decoration: none;
}

#business-plan .row{
    margin: -20px;
}

#business-plan .row .big-col{
    margin: 20px;
}

#business-plan h2{
    padding-bottom: 40px;
}

#business-plan-btn{
    padding-bottom: 20px;
}

.col-horiz{
    width: 100%;
    border: 1px solid #d0d0d3;
}


.partner-pic{
    width: 55%;
}

.partner-txt{
    width: 45%;
    padding-left: 30px;
    padding-top: 50px;
}

.partner-txt p{
    padding: 10px 0;
    margin-bottom: 20px;
}

.partner-txt a{
    text-decoration: none;
    color: black;
}

.partner-pic img{
    display: block;
    width: 100%;
}

.stats{
    padding: 100px 0;
}

.stats h2{
    padding-bottom: 80px;
}

.business-section{
    background-color: #b4d0e7;
    padding: 100px 0;
}

.business-col-1{
    width: 60%;
    color: #61082b;
    font-size: 35px;
    font-weight: 600;
}

.business-section .row{
    justify-content: space-between;
    align-items: baseline;
}

#business-operation .row{
    margin: -20px;
}

#business-operation .row .big-col{
    margin: 20px;
    border: 0;
}

#business-operation h2{
    padding: 40px 0;
}

#business-operation h3,
#business-operation p{
    padding-top: 20px;
}


#faq{
    padding: 100px 0;
}

#faq h2{
    padding-bottom: 40px;
}

#faq h4{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

/*
Footer
*/

footer{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 30px;
}

footer .container-big .col-footer{
    width: calc(100% / 5);
    color: white;
}

.col-footer a{
    color: white;
    text-decoration: none;
    display: block;
    font-size: 13px;
    line-height: 1.5;
}

.col-footer h6{
    color: lightgray;
}

.col-footer hr{
    margin-top: 60px;
    margin-bottom: 30px;
}

footer .title{
    font-size: 20px;
    padding-bottom: 20px;
}